/* 左邊區塊的樣式、內距設定 */
/* 新增片單=>自動斷行到下一行 */
/* 方法：父層固定寬=>子元素設定寬=>超過寬度到下一行 */
.contentdetail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  /* margin-top: 40px; */
  margin-left: 70px;
  padding: 20px;
}

.filmcollection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #f1efe9;
  margin-bottom: 30px;
  margin-left: 20px;
}
.filmcardtext{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.filmsection {
  width: 200px;
  display: flex;
  flex-direction: row;
}

.filmsection > div {
  width: 140px;
  height: 210px;
  margin-right: -125px;
  border-radius: 20px;
}

.filmcard1 {
  z-index: 5;
  background:lightgray 50%;
  background-size: contain;
}
.filmcard2 {
  z-index: 4;
  background: lightgray 50%;
  background-size: contain;
}
.filmcard3 {
  z-index: 3;
  background: lightgray 50%;
  background-size: contain;
}
.filmcard4 {
  z-index: 2;
  background: lightgray 50%;
  background-size: contain;
}
.filmcard5 {
  z-index: 1;
  background-color: #2f2f2f;
  background-size: contain;
}

/* 訂單紀錄bar左邊設定 */
.rightcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 200px; */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 68px;
  padding: 0px 50px;
  border-radius: 15px;
  /* font */
  text-decoration: none;
  border: 2px solid #A6A79B;
  background-color: #2F2F2F;
  color: #8C8C83;
}

.button:hover {
  background-color: #8C8C83;
  text-decoration: none;
  stroke-width: 2px;
  stroke:  #A6A79B;
  box-shadow: 0px 0px 5px 0px rgba(217, 217, 217, 0.5);
  color: #F1EFE9;
}
