.allinput{
    margin-top: 20px;
}

.b1{
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.e2{
     color: #b1b1b1;
     font-size: 12px;
}

.c1{
    padding: 5px;
    width: 800px;
}

.ConfirmButton{
    background-color: #B6B995;
    color: #fff;
    border-radius: 15px;
    padding: 8px 20px;
    margin-top: 10px;
    transition: background-color 0.1s;
    cursor: pointer;
    margin-bottom: 10px;
    border: #F1EFE9;

}

.ConfirmButton:hover {
    background-color: #A6A79B;
  }
  
.ConfirmButton:active {
    background-color: #F1EFE9
}

.GOOGLE{
    margin-right: 30px;
    width: 200px;
    border-radius: 20px;
    background-color: #F1EFE9;
    color: #A6A79B;
    font-family: "Noto Sans TC";
    background-image: url(../Frank/img/google.png);
    background-repeat: no-repeat;
    background-position: 30px center; /* 調整 X 軸位置為 10px，Y 軸位置居中 */
    padding: 10px 20px;
    margin-bottom: 20px;
    border: #F1EFE9;
    }


.FACEBOOK{
        width: 200px;
        margin-right: 30px;
        border-radius: 20px;
        background-color: #F1EFE9;
        color: #A6A79B;
        font-family: "Noto Sans TC";
        background-image: url(../Frank/img/facebook.png);
        background-repeat: no-repeat;
        background-position: 30px center; /* 調整 X 軸位置為 10px，Y 軸位置居中 */
        padding: 10px 20px;
        margin-bottom: 20px;
        border: #F1EFE9;

 }

 .LINE{
    width: 200px;
    border-radius: 20px;
    background-color: #F1EFE9;
    color: #A6A79B;
    font-family: "Noto Sans TC";
    background-image: url(../Frank/img/line.png);
    background-repeat: no-repeat;
    background-position: 40px center; /* 調整 X 軸位置為 10px，Y 軸位置居中 */
    padding: 10px 20px;
    margin-right: 30px;
    margin-bottom: 90px;
    border: #F1EFE9;
  }


.MYGOOGLE{
    background-color: #B6B995;
    color: #fff;
    border-radius: 15px;
    padding: 8px 20px;
    margin-top: 10px;
    transition: background-color 0.1s;
    cursor: pointer;
    margin-bottom: 10px;
    border: #F1EFE9;

}


.MYFACEBOOK{
    background-color: #B6B995;
    color: #fff;
    border-radius: 15px;
    padding: 8px 20px;
    margin-top: 10px;
    transition: background-color 0.1s;
    cursor: pointer;
    margin-bottom: 10px;
    border: #F1EFE9;

}


.MYLINE{
    background-color: #B6B995;
    color: #fff;
    border-radius: 15px;
    padding: 8px 20px;
    margin-top: 10px;
    transition: background-color 0.1s;
    cursor: pointer;
    margin-bottom: 10px;
    border: #F1EFE9;

}

.good{
    background-color: #B6B995;
    color: #fff;
    border-radius: 15px;
    padding: 10px 35px;
    margin-top: 10px;
    transition: background-color 0.1s;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 700px;
    border: #F1EFE9;

}

.errorInput {
    border: 2px solid red;
  }
  

  .errorMessage {
    font-size: 14px; /* 修改字体大小 */
    color: rgb(255, 2, 2); /* 修改字体颜色 */
  }