.top {
  background-color: black;
  /* 設置黑色的底色 */
  min-height: 100vh;
}


.ForgotPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 將內容垂直置中 */
  padding: 100px 20px 20px 20px;
  min-height: 100vh;
  background: rgba(47, 47, 47, 0.50);
}

.ForgotPasswordHeading {
  color: #F1EFE9;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  margin: 65px 0;
}

.myinput {
  width: 400px;
  height: 55px;
  padding: 0 10px;
  margin-bottom: 25px;

  background-color: #F1EFE9;
  border-radius: 3px;
  border: none;

  color: #2f2f2f;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.ResetButton {
  width: 145px;
  height: 55px;
  margin-top: 50px;

  display: flex;
  align-items: center;

  border: 2px solid #727366;
  border-radius: 18px;
  background-color: #f0f0f0;

  color: #727366;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  float: right;

  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
}

.ResetButton:hover {
  color: #F1EFE9;
  border: 2px solid #F1EFE9;
}

.ResetButton span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #727366;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.ResetButton:hover span {
  transform: translateY(0) scale(2);
}

.ResetButton span:nth-child(1) {
  --n: 1;
}

.ResetButton span:nth-child(2) {
  --n: 2;
}

.ResetButton span:nth-child(3) {
  --n: 3;
}

.ResetButton span:nth-child(4) {
  --n: 4;
}

.BackToLogin {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.myBackToLogin {
  color: #F1EFE9;
  text-decoration: underline;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.myBackToLogin:hover {
  color: #B6B995;

}

.tit {
  color: #F1EFE9;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 25px;
}

.mes {
  color: #E12C4B;
  font-size: 16px;
  font-style: normal;
  line-height: 125%;
}